/* menu */
.topBox {
  border-bottom: 2px solid rgba(102, 102, 102, 0.5);
  margin: 33px 0 0 0;
  z-index: 3;
}
.topBoxItem {
  height: 45px;
  background-color: #b6705e;
  background-color: transparent;
}

.topBoxItem > button,
.topBoxAll {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;

  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent !important;
}

.topBoxItem > button:hover,
.topBoxAll:hover {
  border-bottom: 3px solid #b6705e !important;
}
.collapseBox {
  padding: 10px 0;
  margin-top: 10px;
  width: 155px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collapseBox button {
  font-size: 14px;
  color: #3f4c5c;
  padding: 3px 5px;
  border-radius: 40px;
}
.collapseBox button:hover {
  background-color: #ebd8a9;
}
.collapseBox abutton:active {
  background-color: #ebd8a9;
  color: #3f4c5c;
}
/* main------------ */

.productMain {
  display: flex;
  padding: 100px 10px 10px 10px;

  justify-content: space-between;
}

.btnBox * {
  margin-bottom: 10px;
}
.btnBox select {
  color: #3f4c5c;
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
  border: 1px #808080 solid;
  border-radius: 40px;
  width: 100%;
  height: 33px;
  text-align: center;
  padding-left: 35px;
}

/* infoBox------------- */
.infoBox {
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
  align-items: center;
}
.infoItem {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}
.infoItem .head {
  width: 200px;
  padding: 10px 0px;
  text-align: center;
  border-bottom: 3px #808080 solid;
}
.infoItem .text {
  text-align: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
}
.infoItem .commentBox {
  display: flex;
  width: 80%;
  padding: 10px 30px 10px 30px;
  border-bottom: 1px #808080 solid;
  align-items: flex-start;
  justify-content: flex-start;
}

.commentBox .pic {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: aquamarine;
  overflow: hidden;
}
.comment p {
  margin: 0px;
  font-weight: 600;
}
.recommendBox {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 30px;
  padding: 0px 10px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
}
.recommendBox .head {
  width: 200px;
  padding: 10px 0px;
  text-align: center;
  border-bottom: 3px #808080 solid;
}

@media screen and (max-width: 992px) {
  .topBox {
    flex-wrap: wrap;
    /* overflow: hidden; */
    width: 40%;
    height: 60px;
    border-bottom: 1px solid #808080;
    position: absolute;
    left: 30%;
  }
  .main {
    margin: 120px 0 0 0;
  }
  .topBox:hover {
    background-color: #fbf9ef;
    border-radius: 10px;
    height: auto;
    transition: all 0.1s ease-in;
  }
  .topBoxItem {
    width: 100%;
    height: auto;
    box-sizing: content-box;
    margin: 10px 0;
  }
  .topBoxItem > button {
    height: 40px;
  }

  .productMain {
    padding: 10px;
  }
}
